.App {
  width: 100vw;
  height: 100vh;
  padding: 16px;
  background-color: #666;
}

.ButtonWrapper {
  width: 300px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.stepButton {
  all: unset;
  width: 12px;
  height: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.currentButton {
  background-color: salmon;
}

.Wrapper {
  width: 300px;
  overflow-x: hidden;
}

.container {
  width: 900px;
  display: flex;
  transition: transform 0.2s linear;
}

.containerONE {
  transform: translateX(0);
}

.containerTWO {
  transform: translateX(-300px);
}

.containerTHREE {
  transform: translateX(-600px);
}

.item {
  flex: 0 0 300px;
  text-align: center;
  color: #eee;
}

.tag {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: darkorange;
  color: #333;
}
